In [3]:
import pandas as pd

In [4]:
crime = pd.read_csv("crime_boston.csv")
crime

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192064813,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D14,794,NaN,2019-08-17 21:00:00,2019,8,Saturday,21,Part Three,QUINT AVE,NaN,NaN,"(0.00000000, 0.00000000)"
1,I192064810,3410,Towed,TOWED MOTOR VEHICLE,B3,435,NaN,2019-08-17 21:15:00,2019,8,Saturday,21,Part Three,PEACEVALE RD,42.287167,-71.076335,"(42.28716674, -71.07633479)"
2,I192064808,2003,Offenses Against Child / Family,CHILD ENDANGERMENT (NO ASSAULT),C11,355,NaN,2019-08-17 19:33:00,2019,8,Saturday,19,Part Two,GIBSON ST,42.297555,-71.059709,"(42.29755533, -71.05970910)"
3,I192064803,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,554,NaN,2019-08-17 20:55:00,2019,8,Saturday,20,Part Two,METROPOLITAN AVE,42.272509,-71.123190,"(42.27250898, -71.12318965)"
4,I192064800,3114,Investigate Property,INVESTIGATE PROPERTY,E18,502,NaN,2019-08-17 19:39:00,2019,8,Saturday,19,Part Three,PHILBRICK ST,42.285459,-71.118027,"(42.28545883, -71.11802667)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413667,I020691165-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413668,I020674147-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413669,I020669075-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413670,I020662996-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:56:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413671,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"

In [5]:
crime.isnull()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413667,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
413668,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
413669,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
413670,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
413671,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [7]:
crime.isnull().any(axis = 1)

0         True
1         True
2         True
3         True
4         True
          ...
413667    True
413668    True
413669    True
413670    True
413671    True
Length: 413672, dtype: bool

In [9]:
m = crime.isnull().any(axis = 1)
m

0         True
1         True
2         True
3         True
4         True
          ...
413667    True
413668    True
413669    True
413670    True
413671    True
Length: 413672, dtype: bool