In [4]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [7]:
d = pd.date_range('20200301',periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [14]:
df

                   A         B         C         D
2020-03-01 -0.670418  0.251733  0.444679 -0.774425
2020-03-02  0.964703  0.439151  1.570149  0.077750
2020-03-03  0.050643 -0.967839 -0.569629 -0.874180
2020-03-04  0.350443 -2.368179 -1.206228  1.358659
2020-03-05 -0.207445 -0.212823  0.162467  0.060931
2020-03-06  0.512589 -0.129614 -0.233564  0.237586
2020-03-07 -1.287087 -1.512629  1.249944 -0.902677
2020-03-08  0.087666 -0.069677  1.434188  1.121408
2020-03-09  0.298381 -0.874103 -1.118288 -1.091006
2020-03-10 -1.453547  0.489737 -1.090473  0.184818

In [25]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20200301'),
                   'C':pd.Series(1,index=list(range(4)), dtype='float32'),
                   'D':np.array([5]*4,dtype='int32'),
                   'E':pd.Categorical(['true','False','True','False']),
                   'F':'edureka'
                  })

In [26]:
df

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  edureka
1  2 2020-03-01  1.0  5  False  edureka
2  3 2020-03-01  1.0  5   True  edureka
3  4 2020-03-01  1.0  5  False  edureka

In [27]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [28]:
df.head

<bound method NDFrame.head of    A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  edureka
1  2 2020-03-01  1.0  5  False  edureka
2  3 2020-03-01  1.0  5   True  edureka
3  4 2020-03-01  1.0  5  False  edureka>

In [29]:
df.tail

<bound method NDFrame.tail of    A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  edureka
1  2 2020-03-01  1.0  5  False  edureka
2  3 2020-03-01  1.0  5   True  edureka
3  4 2020-03-01  1.0  5  False  edureka>

In [30]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [31]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [33]:
df.to_numpy()

array([[1, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'true', 'edureka'],
       [2, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'edureka'],
       [3, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'True', 'edureka'],
       [4, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'edureka']],
      dtype=object)

In [34]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [37]:
df.sort_index(axis=1,ascending=False)

         F      E  D    C          B  A
0  edureka   true  5  1.0 2020-03-01  1
1  edureka  False  5  1.0 2020-03-01  2
2  edureka   True  5  1.0 2020-03-01  3
3  edureka  False  5  1.0 2020-03-01  4

In [39]:
df['C']

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [41]:
df[0:4]

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  edureka
1  2 2020-03-01  1.0  5  False  edureka
2  3 2020-03-01  1.0  5   True  edureka
3  4 2020-03-01  1.0  5  False  edureka

In [48]:
df.loc[0,['D','C']]

D    5
C    1
Name: 0, dtype: object

In [52]:
df.iloc[3:5,0:5]

   A          B    C  D      E
3  4 2020-03-01  1.0  5  False

In [54]:
df[df['A'] > 0]

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  edureka
1  2 2020-03-01  1.0  5  False  edureka
2  3 2020-03-01  1.0  5   True  edureka
3  4 2020-03-01  1.0  5  False  edureka

In [56]:
df2 = df.reindex(index=d[0:4],columns=list(df.columns) + ['E'])

In [61]:
df2.isnull()

               A     B     C     D     E     F     E
2020-03-01  True  True  True  True  True  True  True
2020-03-02  True  True  True  True  True  True  True
2020-03-03  True  True  True  True  True  True  True
2020-03-04  True  True  True  True  True  True  True

In [62]:
df2.dropna

<bound method DataFrame.dropna of              A   B   C   D    E    F    E
2020-03-01 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-02 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-03 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-04 NaN NaT NaN NaN  NaN  NaN  NaN>

In [63]:
df2.fillna(value=2)

ValueError: fill value must be in categories